@font-face {
    font-family: 'Pragmatica';
    src: local('PragmaticaCond-Medium'),
         url('../fonts/PragmaticaCond-Medium.woff2') format('woff2'),
         url('../fonts/PragmaticaCond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-width: 320px;
    font-family: 'Pragmatica', sans-serif;
    font-weight: 500;
    background-color: #000000;
    overflow-x: hidden;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    width: 1920px;
    background-color: #000;
}

/*header*/

.header__container {
    color: #FFF;
    overflow: hidden;                      /* Добавляем overflow: hidden, чтобы скрыть скролл */
}

.header__link {
    margin: 0;
    display: flex;
}

.header__link span {
    display: inline-block;
    margin-right: 138px;                   /* Отступ между словами */
    width: 1038px;                          /* Ширина текста */
    font-size: 273.19px;
    font-weight: 500;
    line-height: 287.42px;
    height: 261px;
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 2s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - 138px));
      }
}

/*hero*/

.hero__block {
    display: flex;
    /*gap: 163px;*/
    max-width: 1920px;
    overflow: hidden;                       /* Скрывает части, выходящие за пределы */
}

.hero__element1 {
    width: 499px;
    height: 536px;
}

.hero__element2 {
    width: 555.7px;
    height: 573.7px;
}

.hero__element3 {
    width: 1100px;
    height: 536.7px;
}

.hero__three {
    animation: moveEffect 2.3s infinite alternate;
}

/*section__three*/

.section__three {
    display: block;
    margin: 0 auto;
    max-width: 1920px;
    background-color: #000;
}

.section__element-one {
    width: 1936px;
    height: 1785px;
}

/*section__four*/

.section__four {
    background-color: #000;
    margin: 0 auto;
    max-width: 1920px;
    min-height: 390px;
}

.section__block-one {
    margin-right: 223px;                     /* Отступ справа */
}

.section__element-two {
    width: 537px;
    height: 537px;
}

.section__element-three {
    width: 537px;
    height: 537px;
}

.section__element-four {
    width: 537px;
    height: 537px;
}

/*section__five*/

.section__five {
    background-color: #000;
    margin: 0 auto;
    max-width: 1920px;
    min-height: 511px;
    margin-bottom: 42px;
}

.section__text {
    padding-left: 49px;
    margin: 0;
    max-width: 1132px;
    min-height: 315px;
    color: #FFF;
    font-weight: 500;
    font-size: 43px;
    line-height: 57px;
    letter-spacing: 2.78px;
    transform: translateY(132px);
}

.section__cube {
    width: 1016px;
    height: 511px;
}

.section__one {
    position: relative;
}

/* Перемещение влево до полной скрытости при наведении */
.section__one:hover .section__cube {
    transform: translateX(-1111px);            /* Уезжает за границы видимости */
}

.section__two {
    transform: translateY(100px);
}

.section__cube {
    position: absolute;
    top: 33px;
    left: 96px;
    transition: transform 2.3s;                /* Плавное перемещение */
}

.section__items {
    min-height: 543px;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
    overflow: hidden;                          /* Скрытие элементов за пределами области видимости */
}

.section__mask {
    width: 540px;
    height: 540px;
}

/*section__six*/

.section__six {
    display: block;
    background-color: #000;
    max-width: 1920px;
}

.section__svg-one {
    width: 1920px;
    height: 575px;
}

/*section__seven*/

.section__seven {
    background-color: #000;
    max-width: 1920px;
    margin: 0 auto;
}

.section__turntable {
    justify-content: center;                  /* Центрирование по горизонтали */
    display: flex;                            /* Включение flexbox */
    align-items: center;                      /* Центрирование по вертикали */
}

.section__svg {
    width: 1657px;
    height: 1720px;
}

/*section__eight*/

.section__eight {
    background-color: #000;
    max-width: 1920px;
    margin: 0 auto;
}

.section__svg-two{
    width: 1920px;
    height: 575px;
}

/*footer*/

.footer__container {
    position: relative;
    width: 1920px;            /* Ширина контейнера */
    overflow: hidden;         /* Скрыть всё, что выходит за пределы контейнера */
    white-space: nowrap;      /* Запретить перенос строк */
}

.marquee {
    display: inline-block;
    animation: scroll 15s linear infinite; /* Анимация бегущей строки */
    will-change: transform;
}

.marquee span {
    color: #FFF;
    font-weight: 500;
    font-size: 273.19px;
    line-height: 210px;
    padding-right: 50px;         /* Отступ между словами */
}

@keyframes scroll {
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-50%));
      }
}

.market {
    display: inline-block;
    animation: slide 12s linear infinite; /* Анимация бегущей строки */
    will-change: transform;
}

.market span {
    color: #FFF;
    font-weight: 500;
    font-size: 140px;
    line-height: 182px;
    padding-right: 20px;         /* Отступ между словами */
}

@keyframes slide {
    from {
        transform: translateX(calc(-50%));
    }
    to {
        transform: translateX(0);
    }
}



